#address-book {
  background-color: #000000;
  min-height: 100vh;
}

/* sekcja nawigacji */

.navigation .col-md-6 {
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: #64696C;
  padding: 10px 15px;
}

.navigation .col-md-12 { 
  margin-bottom: 30px;
  background-color: #64696C;
  padding: 10px 15px;
}

.navigation .col-md-6:first-of-type {
  border-right: 1px solid black;
}

.navigation .title {
  color: #FFE300;
  font-size: 32px;
  background-color: #a7acae;
  padding: 0px 15px;
}

.navigation .options .single {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #556567;
  color: #ffffff;
}

.navigation .options .single.active {
  background-color: #adadad;
  color: black;
}

.navigation .options .single:not(:last-child) {
  margin-right: 10px;
}

.navigation .options .single:hover {
  background-color: #adadad;
  cursor: pointer;
  color: black;
}

/* wyszukiwarka */

.search-bar {
  background-color: white;
  background-color: #a7acae;
  padding: 5px 15px;
}

.search-bar .show-search-bar {
  
}

/* sekcja kontaktów */

.loading-info {
  color: #ffffff;
  margin-bottom: 30px;
}

.contacts .avatar {
  background-color: red;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15px;
}

.contacts .single {
  margin-bottom: 50px;
  color: #FFFFFF;
}

.contacts .single .title {
  font-weight: 800;
  color: #BC1E22;
}

.contacts .single .tel {
  
}

.contacts .single .email {
  margin-bottom: 10px;
}

.contacts .personal-info {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #a7acae;
  padding: 10px;
  color: #0000000;
}

.contacts .personal-info .title {
  font-size: 25px;
  font-weight: 700;
}

.contacts .personal-projects { 
  margin-top: 20px;
}

.contacts .personal-info-container {
  background-color: #64696C;
  margin-bottom: 60px;
}

.contacts .personal-projects-container {
  margin-bottom: 60px;
  background-color: #64696C;
}

.contacts .personal-projects .project {
  min-width: 50px;
  margin-bottom: 5px;
}

.contacts .personal-projects .project .title {
  min-width: 200px;
  margin-bottom: 10px;
  font-weight: 800;
  color: white;
}

.contacts .personal-projects .project .ship-icon,
.contacts .personal-projects .project .vehicle-icon {
  padding: 2px 10px;
  border-radius: 5px;
  margin-right: 10px;
  display: inline-block;
  margin-top: 10px;
  color: white;
  
}

.contacts .personal-projects .project .ship-icon {
  background-color: #008B8B;
}

.contacts .personal-projects .project .vehicle-icon {
  background-color: #556567;
}

.contacts .single .counter:hover {
  cursor: pointer;
}

.contacts .single .counter {
  position: relative;
  display: inline-block;
}

.contacts .single .counter .add-like {
  display: block;
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  padding: 5px 10px;
  background-color: #000000;
  color: white;
}

.contacts .single .counter .add-like #text {
  color: red;
}

.contacts .single .counter img {
  width: 26px;
  height: 26px;
  position: absolute;
  right: 12px;
  top: 5px;
}

.contacts .single .avatar, .contacts .single .title {
  cursor: pointer;
}

.contacts .single .counter .total-likes {
  font-style: italic;
}

.contacts .add-like span {
  user-select: none
}